{% extends 'snailblog/base.html' %}
{% block content %}
    <h1>Welcome!</h1>
    <p>My name is Gail, I'm a stay-at-home mum of two. My youngest has just made that
        fledgling leap to secondary school. I'm trying to remember how my brain works.
        I've done lots of coding (well scripting really) over the years, I went from C 
        to Perl to python, with a bit of teaching kids programming using scratch
        and the BBC microbit thrown in. Now I'm having some fun with django!</p>
     <p>You can find me on Twitter @thesnail</p>
     <a href="https://twitter.com/thesnail?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @thesnail</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}