<html>
    <head>
        <title>thecodingsnail's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">thecodingsnail's blog</a></h1>
        </div> 
        <div>
            <p>published: 15th September 2020, 2.30pm</p>
            <h2><a href="">My first post</a></h2>
            <p>Blah blah blah</p>
        </div>
        <div>
            <p>published: 15th September 2020, 2.30pm</p>
            <h2><a href="">My second post</a></h2>
            <p>Blah blah blah</p>
        </div>
    </body>
</html>