{% extends 'snailblog/base.html' %}
{% block content %}
{% load embed_video_tags %}
<div class="container-fluid bg-dark rounded-bottom">
    <div class="row bg-dark text-white">
        {% for i in obj %}
            <div class="col-md">
                <h6>{{ i.title }}</h6>
                {% video i.video 'small' %}
            </div>
        {% endfor %}
    </div>
    <div class="row bg-dark text-white">
        <div class="col-3">
            <h6>Useful links</h6>
        </div>
        <div class="col-3">
            <a href="http://www.codeclub.org">CodeClub.org</a>
        </div>
        <div class="col-3">
            <a href="http://microbit.org">BBC Microbit</a>
        </div>
        <div class="col-3">
            <a href="http://scratch.mit.edu">Scratch</a>
        </div>
    </div>
</div>

    
{% endblock %}