nav {
  font-family: 'Open Sans', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h3, a, p {
  font-family: 'Open Sans', sans-serif;
}
h2,h4,h5,h6 {
  font-family: 'Oswald', sans-serif;
  color: white;
}
.white {
  color:white;
}
